:root{
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #ffffff;
}
.App{
padding-bottom: 1rem;
}
.devider{
  width: 100%;
  height: 0.5px;
  background-color: var(--color-primary);
  margin-bottom: 10px;
}