.section{
    margin:0 1.5rem;
    background-color: var(--color-black);
    margin-bottom: 1.5rem;
}
.section-header{
    font-size: 20px !important;
    font-weight: 600 !important;
    
}
.section-collapse{
    color: var(--color-primary) !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 600 !important;
    text-align: right;
    padding: 0 !important;

}
.album-grid{
    margin: 3px 1rem!important;
}