.carousel-container {
    position: relative;
  }

.custom-prev-button,
.custom-next-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.custom-prev-button {
    left: -20px;
  
}

.custom-next-button {
  right: -25px;
}

.custom-prev-button img,
.custom-next-button img {
  width: 32px;
  height: 32px;
}
